html {
    background-color: #ffffff;
}

a{
    text-decoration: none;
    color: currentColor;
}

/*cabeçalho*/
header {
    background-color: #5c97ce;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

header h2 {
    color: white;
}



.ass-button{
    margin-left: 25%;
    margin-right: 3%;
    margin-top: 0.5%;
    font-family: 'Martel Sans', sans-serif;

}

.img-header{
    display: flex;
    border-left: 50%;
}

.Adv-button{
    margin-left: 1%;
    margin-top: 0.5%;
    font-family: 'Martel Sans', sans-serif;

}

.login-button {
    margin-left: 15%;
    margin-top: 1.3%;
}

.login-button button {
    border-color: white;
    color: white;
    font-size: 16px;
    padding: 11px;
    font-family: 'Martel Sans', sans-serif;
    background-color: #5c97ce;
    height: 70%;
    width: 110px;
    border-style: solid;
    cursor: pointer;
}

.login-button button:hover {
    border-color: #5c97ce;
    color: #5c97ce;
    font-size: 16px;
    padding: 11px;
    font-family: 'Martel Sans', sans-serif;
    background-color: #ffffff;
    height: 70%;
    width: 110px;
    border-style: solid;
    cursor: pointer;
    border-radius: 7px;
}

/*fim*/


.table {
    margin-top: 3%;
 }

 .table img{
    height: 170px;
 }
 
 .perfil-ad{
     margin-top: 3%;
     display: flex;
 }
 .perfil-ad{
     border-left: 0;
     border-right: 0;
     border-bottom: 0;
     border-top: 2px;
     border-style: solid;
     border-color: rgba(0, 0, 0, 0.37);
     margin-top: 0;
     margin-right: 0;
     margin-left: 0;
 }
 .perfil-ad:nth-child(even){
     background-color: rgb(240, 240, 240);
 }
 
 
 .perfil-ad-right{
     display: flex;
     margin-left: 20%;
 }
 
 .perfil-ad-right{
     display: flex;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 
 a{display: flex;}
 
 .name-perfil{
     
     font-size: 15px;
     margin-left: 20%;
 }
 
 
 .footer{
     display: flex;
     background-color: rgb(7, 7, 54);
     margin-top: 10%;
 }
 
 .links-footer{
     margin-left: 20%;
     color: white;
 }