html {
    background-color: #ffffff;
}

a{
    text-decoration: none;
    color: currentColor;
}

/*cabeçalho*/
header {
    background-color: #5c97ce;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

header h2 {
    color: white;
}



.ass-button{
    margin-left: 25%;
    margin-right: 3%;
    margin-top: 0.5%;
    font-family: 'Martel Sans', sans-serif;

}

.img-header{
    display: flex;
    border-left: 50%;
}

.Adv-button{
    margin-left: 1%;
    margin-top: 0.5%;
    font-family: 'Martel Sans', sans-serif;

}

.login-button {
    margin-left: 15%;
    margin-top: 1.3%;
}

.login-button button {
    border-color: white;
    color: white;
    font-size: 16px;
    padding: 11px;
    font-family: 'Martel Sans', sans-serif;
    background-color: #5c97ce;
    height: 70%;
    width: 110px;
    border-style: solid;
    cursor: pointer;
}

.login-button button:hover {
    border-color: #5c97ce;
    color: #5c97ce;
    font-size: 16px;
    padding: 11px;
    font-family: 'Martel Sans', sans-serif;
    background-color: #ffffff;
    height: 70%;
    width: 110px;
    border-style: solid;
    cursor: pointer;
    border-radius: 7px;
}

/*fim*/



.header-filter{
    background-color: gray;
}

.associacoes{
    margin-top: 10%;
    margin-left: 25px;
}
table{
    margin-left: 20%;
    display: flex;
    margin-bottom: 10%;
}


tr{
    background-color: rgb(255, 255, 255);
    border-style: solid;
}

tr:nth-child(even) {
    background-color: rgba(240, 240, 240, 0.377);
}




td img {
    height: 150px;
    border-left: 10%;
}

td h1 {
    margin-left: 50%;
    display: flex;
}


td button {
    margin-left: 10%;
    height: 60px;
    width: 200px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 50px;
    padding-top: 0%;
    padding-bottom: 10%;
    cursor: pointer;
}




/*footer*/

.footer{
    display: flex;
    background-color: rgb(7, 7, 54);
}

.links-footer{
    margin-left: 20%;
    color: white;
}
