a{
  text-decoration: none;
  color: currentColor;
}

/*cabeçalho*/
header {
  background-color: #5c97ce;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

header h2 {
  color: white;
}



.ass-button{
  margin-left: 25%;
  margin-right: 3%;
  margin-top: 0.5%;
  font-family: 'Martel Sans', sans-serif;

}

.img-header{
  display: flex;
  border-left: 50%;
}

.Adv-button{
  margin-left: 1%;
  margin-top: 0.5%;
  font-family: 'Martel Sans', sans-serif;

}

.login-button {
  margin-left: 15%;
  margin-top: 1.3%;
}

.login-button button {
  border-color: white;
  color: white;
  font-size: 16px;
  padding: 11px;
  font-family: 'Martel Sans', sans-serif;
  background-color: #5c97ce;
  height: 70%;
  width: 110px;
  border-style: solid;
  cursor: pointer;
}

.login-button button:hover {
  border-color: #5c97ce;
  color: #5c97ce;
  font-size: 16px;
  padding: 11px;
  font-family: 'Martel Sans', sans-serif;
  background-color: #ffffff;
  height: 70%;
  width: 110px;
  border-style: solid;
  cursor: pointer;
  border-radius: 7px;
}

/*fim*/

.pag-left{
  margin-top: 5%;
  width: 90%;
}


/*Calendar*/

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.calendar {
    margin-top: 20px;

}
/* Month header */
.month {
  padding: 70px 25px;
  width: 150%;
  background: #466ec5;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 15px 0;
  background-color:#ddd;
  width: 163.7%;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 163.7%;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 20px;
  font-size:17px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #466ec5;
  color: white !important
}




.full-tela{
  display: flex;
}

.ex-case{
  margin-left: 45%;
  margin-top: 2%;
  padding: 2%;
  display: flex;
}
.ex-case{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.title-case {
  margin-top: 10%;
  margin-left: 45% ;
}

.ok-no{
  margin-top: 10%;
  display: flex;
  margin-left: 45%;
}

.ok-no button{
  background-color: white;
  border-radius: 10%;
  border-color: darkblue;
  height: 90%;
  width: 150px;
  cursor: pointer;
}




.ok h3{
    font-size: 25px;
}

.ok img {
    height: 50px;

}

.no{
  margin-left: 53%;
}

.no h3 {
    font-size: 25px;
}

.no img {
    height: 50px;
    margin-left: 1%;
}


